@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

.profile-info {
  width: 635px;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  color: #464646;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px -1px 11px 3px rgba(34, 60, 80, 0.2);
}

.profile-info__title {
  margin-bottom: 30px;
  font-size: 22px;
}

.profile-info__img {
  height: 120px;
  width: 120px;
  margin-bottom: 30px;
}

.profile-info__img img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.profile-info__content {
  display: flex;
  margin-bottom: 30px;
}

.profile-info__fields {
  margin-right: 15px;
}

.profile-info__field {
  font-weight: 500;
}

.profile-info__field, .profile-info__value {
  margin-bottom: 10px;
}

.profile-info p {
  font-size: 20px;
}