@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

.chat {
  width: 270px;

  word-wrap:break-word;

  font-family: 'Open Sans', sans-serif;
  color: #464646;

  border-radius: 5px;
  box-shadow: 0px -1px 11px 3px rgba(34, 60, 80, 0.2);
  background-color: #fff;
}

.chat form {
  padding: 10px;
}

.chat__messages {
  height: 383px;
  padding-right: 8px;
  margin-bottom: 20px;
  overflow-y: scroll;
}

.chat__header {
  margin-bottom: 20px;
}

.chat__header h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: #5db7f0;
}